.logo-icon {
  height: 54px;
  width: auto;
  float: left;
  margin: auto 10px;
}

.slp-lbl {
  color: #fff;
  float: left;
  font-size: 16px;
  margin: 16px 0px 20px 0px;
}

.navbar-header {
  width: auto;
}

.navbar-brand {
  font-size: 40px;
}

.navbar {
  clear: both;
}