
.our-services-row {
  margin: 20px 0px;
}
.our-services {
  width: 100%;
  height: auto;
}

.mission-statement {
  font-size: 18px;
  color: #000;
}


ul {list-style-type: none;}

.our-services-heading {
  font-size: 24px !important;
  padding-bottom: 0px !important;
  float: left;
}

.services-list p {
  vertical-align: middle;
  font-family: 'Roboto', serif;
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

.services-list p {
  vertical-align: middle;
  font-family: 'Roboto', serif;
  font-size: 16px;
  color: #000;
}

.services-list .services-list-population p {
  font-size: 28px;
  font-weight: bold;
}

.services-list .services-list-disabilities p {
  font-size: 14px;
}

.services-list .services-list-disorders p {
  font-size: 20px;
}

aside {
  background-color: #f7f7f7;
  margin-bottom: 30px !important;
}

.services-list {
  padding: 20px;
}

.row-img {
  height: 300px;
  width: auto;
  margin: 0px 0px;
}

.row-img-vertical {
  height: 450px;
  width: auto;
  margin: 0px auto;
}

#mission {
  clear: both;
  height: auto;
  padding: 10px 0px;
}